<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>웹 스터디 - 회원가입</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="auth-wrapper">
    <div class="auth-card">
        <h2>회원가입 페이지</h2>
        
        <input type="text" id="username" placeholder="아이디" required>
        <input type="password" id="password" placeholder="비밀번호" required>
        <button onclick="registerUser()">가입하기</button>

        <a href="/">로그인으로 돌아가기</a>
    </div>

    <script src="/static/joinmember.js"></script>
</body>
</html>