<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>웹 스터디 - 로그인</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="auth-wrapper"> <div class="auth-card"> <h2>웹 스터디 - 로그인</h2>
        
        <input type="text" id="username" placeholder="아이디" required>
        <input type="password" id="password" placeholder="비밀번호" required>
        
        <button onclick="loginUser()">로그인</button>

        <a href="/joinmember">회원가입 하러가기</a>
    </div>

    <script src="/static/login.js"></script>
</body>
</html>